<H6>QUESTION 1<H6>

<H6>SQL QUESTION 1<H6>

In [ ]:
WITH n as(SELECT AA.Cat_id,a.Product_ID,row_number() over(Partition by cat_id order by amount desc)as row_no from(SELECT b.Cat_id,a.Product_ID,sum(Bill_Amount)as amount from Purchase _History a join Product_catalogue b on a.Product_id=b.Product_id WHERE CURDATE()-Bill_Date<31 GROUP BY 1,2 ORDER BY 3 DESC)AA)
SELECT * from n where row_no<2

<H6>SQL QUESTION 2<H6>

In [ ]:
with A as(select*,row_number()over(order by customer_id)as row_no from customer),B as(select*,row_number()over(order by voucher_id)as row_no from voucher)
select customer_id as coustomer_key,voucher_id as gift_voucher_key
from A a join B b on a.row_no=b.row_no